{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "targets": {
            "esmodules": true
          }
        }
      }
    ]
  ],
  "plugins": [
    [
      "jotai/babel/plugin-react-refresh"
    ]
  ]
}
